* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full {
  height: 100%;
  display: flex;
}

.overall-background {
  right:0px;
  left:0px;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #a41034;
  padding: 5px;
  justify-content: center;
}

.tickets-background {
  right:0px;
  left:0px;
  position: absolute;
  height: 100%;
  display: table-column;
  align-items: center;
  background-color: #a41034;
  padding: 5px;
  justify-content: center;
}

.tickets-background h1{
  padding-left: 20px;
  color: white
}

.navigation-bar {
  background-color: #333;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.home {
  font-size: 2rem;
}

.navigation-bar ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  margin-bottom: 10;
}

.navigation-bar li.active {
  background-color: #777;
}

.navigation-bar li:hover {
  background-color: #777;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  overflow-y: scroll;
  width: 90%
}

.new-ticket {
  background-color: #edd351;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-self: center;
  align-content: center;
  height: 60%;
  width: 80%;
}

.new-ticket textarea {
  text-align: left;
  padding: 10px;
}

.new-ticket input {
  text-align: left;
  padding: 10px;
}

.ticket-card {
  flex-direction: column;
  background-color: #f7d002;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: 70%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
